<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('layouts/header'); -%>
    </head>
    <body>
       
        <%- include('layouts/navbar', { loggedIn, userType }); -%>

        
        <header class="masthead" style="background-image: url('img/g.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>G License Test</h1>
                            <span class="subheading">View driver information</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    
                    <div class="card mb-4">
                        <div class="card-header">
                            <h5>Search by License Number</h5>
                        </div>
                        <div class="card-body">
                            <% if (error) { %>
                                <div class="alert alert-danger"><%= error %></div>
                            <% } %>
                            
                            <form action="/g_page/search" method="POST">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="licenseNumber" 
                                           name="licenseNumber" required>
                                    <label for="licenseNumber">Enter License Number</label>
                                </div>
                                <button type="submit" class="btn btn-primary">Search</button>
                            </form>
                        </div>
                    </div>

                    
                    <% if (userData) { %>
                        <div class="card">
                            <div class="card-header">
                                <h5>Driver Information</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6>Personal Information</h6>
                                        <p><strong>Name:</strong> <%= userData.firstname %> <%= userData.lastname %></p>
                                        <p><strong>License No:</strong> <%= userData.LicenseNo %></p>
                                        <p><strong>Age:</strong> <%= userData.Age %></p>
                                        <p><strong>DOB:</strong> <%= userData.DOB.toLocaleDateString() %></p>
                                    </div>
                                    <div class="col-md-6">
                                        <h6>Car Information</h6>
                                        <p><strong>Make:</strong> <%= userData.car_details.make %></p>
                                        <p><strong>Model:</strong> <%= userData.car_details.model %></p>
                                        <p><strong>Year:</strong> <%= userData.car_details.year %></p>
                                        <p><strong>Plate No:</strong> <%= userData.car_details.platno %></p>
                                    </div>
                                </div>

                                
                                <% if (userData.appointmentId) { %>
                                    <hr>
                                    <h6>Appointment Details</h6>
                                    <% const appointmentDate = new Date(userData.appointmentId.date); %>
                                    <p><strong>Date:</strong> <%= appointmentDate.toLocaleDateString() %></p>
                                    <p><strong>Time:</strong> <%= userData.appointmentId.time %></p>
                                <% } else { %>
                                    <hr>
                                    <p class="text-muted">No appointment scheduled</p>
                                <% } %>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>

        
        <%- include('layouts/footer'); -%>

        
        <%- include('layouts/script'); -%>
    </body>
</html>